* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  min-height: 641px;
  justify-content: center;
  align-items: center;
  width: 95%;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  width: 100%;
  background-color: #ef233c;
  height: 320px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0%;
  padding: 0%;
}

.nav_list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.nav_link {
  display: inline-block;
  text-decoration: none;
  color: #8a061c;
  padding-top: 1.5rem;
}

.image_container {
  grid-area: image;
  width: auto;
  display: flex;
  justify-content: center;
  margin: 0rem auto;
  padding: 1rem;
}

main {
  background-color: white;
  grid-area: main;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem auto;
}

iframe {
  width: 100%;
  display: flex;
  justify-content: center;
}
.title_container {
  background-image: url(https://4kwallpapers.com/images/wallpapers/workout-limitless-endurance-gym-colorful-smoke-3556x2000-929.jpg);
  background-repeat: repeat-x, repeat-y;
  background-position: center;
  background-size: 150%;
  height: 220px;
  width: 100%;
  color: rgb(230, 216, 23);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general_info {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.frame_eximage {
  width: 50px;
  padding-top: 2rem;
}
.contact_icon {
  width: 50px;
  padding-top: 2rem;
}

.presentation {
  display: flex;
  height: auto;
  padding: 1rem;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.extra_article div {
  margin: 2rem auto;
}

.extra_article_title {
  margin: 2rem auto;
}

.extra_article_p {
  margin: 2rem auto;
}
.info_card_container {
  display: grid;
  grid-template-areas:
    "card1"
    "card2"
    "card3";
}

.card1 {
  grid-area: card1;
}
.card2 {
  grid-area: card2;
}
.card3 {
  grid-area: card3;
}
.card_title {
  background-color: #669bbc;
  margin: 2rem auto;

  font-size: 25px;
}
.card_container {
  background-color: #fdf0d5;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  margin: 15px auto;
}

.presentation_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation_container div {
  padding: 4rem 1rem;
}

.adds_introduction div {
  padding: 2rem auto;
}

footer {
  background-color: rgb(28, 253, 253);
  width: 100%;
  grid-area: footer;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin: 0rem auto;
  padding: 1rem 0;
}
.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon_alone {
  width: 50px;
  padding-top: 2rem;
}

@media (min-width: 768px) {
  main {
    width: 100%;
  }

  body {
    width: 90%;
  }
  .nav_list {
    grid-area: navlist;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav_link {
    padding: 2rem;
    font-size: 100%;
  }
  .image_container {
    grid-area: image;
  }

  header {
    width: 100%;
    height: auto;
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "image navlist";
  }

  .general_info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .frame_eximage {
    width: 80px;
  }

  footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  footer h3 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
  }

  .icon_alone {
    width: 65px;
    padding: 0;
  }

  .icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card_container {
    width: auto;
    margin: 0rem 1rem;
    padding: 10px;
  }
  .info_card_container {
    display: flex;
  }

  .adds_introduction {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: "instructions list";
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .adds_introduction ul {
    grid-area: list;
    list-style: none;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .adds_introduction div {
    grid-area: instructions;
    width: 100%;
  }

  .adds_introduction img {
    padding-top: 4rem;
  }

  .adds_introduction h2 {
    padding-top: 1rem;
  }
  .adds_introduction p {
    padding-top: 1rem;
  }

  .contact_icon {
    width: 120px;
    padding: 1rem;
  }

  .contact_info h5 {
    font-size: x-large;
    padding: 1rem;
  }

  .contact_title {
    padding: 1rem;
  }

  form {
    padding: 2rem;
  }

  .freepass_info {
    padding-top: 3rem;
  }

  .grid_area2 {
    padding-top: 3rem;
  }

  .next_level {
    padding: 3rem 0rem;
  }
}

@media (min-width: 1024px) {
  body {
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  header {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  main {
    height: 100%;
    padding-bottom: 1rem;
    width: 100%;
    
  }

  .presentation {
    display: flex;
    height: 200px;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .presentation_planes {
    padding-bottom: 3rem;
    height: auto;
  }

  footer {
    height: 130%;
    padding: 1rem 0;
  }

  .card_container {
    height: 150%;
  }

  .card_pargh {
    height: 100%;
  }

  .frame_eximage {
    width: 140px;
  }

  .adds_introduction li {
    font-size: xx-large;
  }

  .displaygrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    grid-template-areas:
      "grid1 grid2"
      "grid3 grid3";
    text-align: center;
  }

  .contact_info_routes {
    grid-area: grid1;
  }

  .contact_info_routes2 {
    grid-area: grid2;
  }

  .grid_area3 {
    grid-column: 1 / span 2;
  }
  .contact_title {
    padding: 1rem;
    font-size: 125%;
  }

  .freepass_info {
    padding: 1.2rem;
    grid-area: grid1;
  }

  .grid_area2 {
    padding: 1.2rem;
    grid-area: grid2;
  }

  .next_level {
    padding: 1.2rem;
    grid-column: 1 / span 2;
  }
  iframe {
    padding: 1.2rem;
    width: 80%;
  }
}
