* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image_container {
  margin-left: 15rem;
}

header {
  background-color: #f2374a;
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;
}
header nav {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
header nav li {
  margin-right: 2.5rem;
  font-size: large;
}
header nav li a {
  text-decoration: none;
  color: black;
  font-weight: 100;
  font-family: "Roboto Mono", monospace;
}
header nav li a:hover {
  color: rgb(254, 254, 154);
}

.container, main .container2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e9ecef;
  width: 100%;
}
.container .cardinfo, main .container2 .cardinfo {
  width: 50%;
}
.container .cardinfo h1, main .container2 .cardinfo h1 {
  padding-bottom: 2rem;
  font-family: "Roboto Mono", monospace;
}
.container .cardinfo h1 span, main .container2 .cardinfo h1 span {
  color: red;
}
.container .cardinfo .presentation, main .container2 .cardinfo .presentation {
  width: 60%;
  font-family: "Roboto Mono", monospace;
}
.container button, main .container2 button {
  border-color: #f2374a;
  margin: 1rem;
  padding: 1rem;
  background-color: #f2374a;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
.container img, main .container2 img {
  width: auto;
}

main section {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section img {
  width: 100px;
}
main section div {
  padding: 5rem;
  margin: 1rem;
  background-color: #343a40;
  text-align: center;
  border-radius: 5%;
}
main section div:hover {
  background-color: #212529;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
main section div h3 {
  border-radius: 0.5rem;
  background-color: #e9ecef;
  padding: 0.33rem;
}
main section div h3:hover {
  color: rgb(7, 7, 238);
}
main section .eximage {
  background-color: #f2374a;
}
main section .eximage:hover {
  background-color: #781821;
}
main .container2 {
  /*EXTEND modificado*/
}
main .container2:hover {
  background-color: rgb(229, 228, 228);
}
main .container2 .cardinfo {
  width: 50%;
}
main .container2 .cardinfo h1 {
  padding-bottom: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main .container2 .cardinfo .presentation {
  width: 60%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main .container2 img {
  padding: 1.5rem 0;
  width: auto;
}

@media (max-width: 768px) {
  body {
    width: 100%;
  }

  section {
    display: flex;
    flex-direction: column;
  }
  section div {
    padding: 1rem auto;
  }

  .container, main .container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container img, main .container2 img {
    display: none;
  }

  .container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container2 img {
    display: none;
  }
}
footer {
  background-color: #212529;
  width: 100%;
  text-align: center;
}
footer div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 110px;
}
footer h3 {
  color: white;
}
footer h6 {
  color: white;
  font-size: x-large;
}
footer i {
  font-size: 70px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
